* {
    text-align: center;
    margin: 0;
}
/* font-family: 'Playfair Display', serif;
font-family: 'Open Sans', sans-serif;
*/
body {
    background-color: paleturquoise;
    overflow-x: hidden;
    margin: auto;
}
h1{
    font-family: 'Playfair Display', serif;
    padding: 50px;
    font-size: 2.5rem;
    color: #2C2A4A;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    padding-bottom: 40px;
    color: #53536D; 
}
.col-lg-6 {
    border-color: transparent;
	line-height: 130px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.colors {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.numbers {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.numberstwo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.red {
    background-color: #ff0040;
}
.teal {
    background-color: #00a6a6;
}
.yellow {
    background-color: #efca08;
}
.orange {
    background-color: #f49f0a;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.transition {
    opacity: 0.25;
    background-color: paleturquoise;
}
#fortune-wrapper {
    background-color: paleturquoise;
	margin: auto;
    margin-top: 10%;
    margin-bottom: 20%;
}
#fortune-wrapper p {
    text-align: center;
    margin: auto;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
} 

#fortune-wrapper p span {
    background-color: #2C2A4A; 
	color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.reset {
    width: 100%;
    margin-bottom: 10%;
} 
button {
    background-color: #ff0040; 
	color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
button a:visited {
    color: #ffffff;
}
    