* {
    text-align: center;
    margin: 0;
}
/* font-family: 'Playfair Display', serif;
font-family: 'Open Sans', sans-serif;
*/
body {
    background-color: paleturquoise;
    overflow-x: hidden;
    margin: auto;
}
h1{
    font-family: 'Playfair Display', serif;
    padding: 50px;
    font-size: 2.5rem;
    color: #2C2A4A;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    padding-bottom: 40px;
    color: #53536D; 
}
/*.col-lg-6 {
	border-color: transparent;
	line-height: 130px;
} */
.col-lg-6 {
    border-color: transparent;
	line-height: 130px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.2);
}
.colors {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.numbers {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.red {
 /* width: 45%; 
    height: 45%; 
    float: left;
    margin-left: 3%;
    margin-bottom: 1%;
    padding-bottom: 15%; 
    position: relative; */
    background-color: #ff0040;
}
.teal {
/*  width: 45%; 
    height: 45%;  
    float: right;
    margin-right: 3%;
    margin-bottom: 1%;
    padding-bottom: 15%; 
    position: relative; */
    background-color: #00a6a6;
}
.yellow {
/*  width: 45%; 
    height: 45%;  
    float: left;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 3%;
    padding-bottom: 15%; 
    position: relative; */
    background-color: #efca08;
}
.orange {
/*  width: 45%; 
    height: 45%; 
    float: right;
    margin-right: 3%;
    margin-top: 1%;
    padding-bottom: 15%; 
    position: relative; */
    background-color: #f49f0a;
}
.hide {
    display: none;
}
.show {
    display: contents;
}
/*#wrapper {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: #2C2A4A;
    padding-top: 200px;
    background-color: transparent;
    border: transparent; 
    text-transform: uppercase;
    margin-top: 30%;
} */

.transition {
    opacity: 0.25;
    transition: opacity 5s;
    -webkit-transition: opacity 5s;
    -moz-transition: opacity 5s;
}
#fortune-wrapper {
	width: 900px;
	margin: auto;
	height: 900px;
}

#fortune-wrapper p {
    color: #2C2A4A;
    text-align: center;
    margin: auto;
}

#fortune-wrapper p span {
	color: #2C2A4A;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.fortune-show {
    transition: all 5s;
}